<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Calculator serviceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vhost1135.site1.compute.ihost.com/aspnet_client/WebSite1/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="Calculator serviceSoap" contract="ServiceReference1.CalculatorserviceSoap" name="Calculator serviceSoap"/>
    </client>
  </system.serviceModel>
</configuration>